{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/png" />
</head>
<body>
    <div class="form-zak" >
        <form id="form-back" action="/zakaz/" method="post">
            <div class="closer">X</div>
            {% csrf_token %}
            <h4 class="zak"></h4>
            <input class="s-zak" type="hidden" name="zakaz" id="zakaz" value="" style="display:none" tabindex="1" aria-required="true">
            <input type="text" name="author" id="author" value="" size="22" tabindex="2" aria-required="true" required>
            <label for="author"><small>Имя (*)</small></label>
            <input type="text" name="phone" id="phone" value="" size="22" tabindex="3" aria-required="true" required>
            <label for="phone"><small>телефон (*)</small></label>
            <textarea name="text" id="text" cols="40" rows="5"></textarea>
            <button name="submit" type="submit" id="submit">Отправить</button>
            <label id="status" for="submit"></label>
        </form>
    </div>
    
    <!-- Header -->
    <div class="container">
        <div class="row header">
            <div class="col-md12">
                <div class="company-name"><a href="/">ооо сваор</a></div>
                <a href="/"><div class="logo"></div></a>
                <div class="top-phone">
                    r. Омск, ул. Учебная, 79 <br /> 
                    Тел. <b>+7 (913) 650-49-33</b> <br />
                    Тел. <b>+7 (900) 679-35-08</b>
                </div>
            </div>
        </div>
    </div>
    <!-- Top menu -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-menu">
                    <ul>
                        {% block topmenu %}
                            {% for i in pages %}
                            <li>
                                {% if i.id == page_id %}

                                <a href="{{i.get_url}}" class="activ">{{ i.name }}</a></li>
                                {% else %}
                                <a href="{{i.get_url}}" >{{ i.name }}</a></li>
                                {% endif %}
                            </li>
                            {% endfor %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- body -->
    <div class="container my-body">
        <div class="row">
            <div class="body-l-col">
                <div class="l-col">
                    <p>Товары и услуги</p>
                    <ul>
                        {% for i in category %}
                        {% if i.id == title.id %}
                            <li><a class="{{'l-col-active'}}" href="{{i.get_url}}">{{ i.name }}</a></li>
                        {% else %}
                            <li><a class="" href="{{i.get_url}}">{{ i.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul> 
                </div>
            </div>
            <div class="body-r-col">
                <div class="r-col">
                    {% block content%}
                    {% endblock%}
                </div>
             </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Footer   -->
    <div class="container foot">
        <div class="row">
            <div class="col-md-12">
                <div class="my-foot">
                    <div class="my-foot-col">
                        <div>
                            <b>© СВАОР 2016 г.</b><br />
                            r. Омск, ул. Учебная, 79 <br /> 
                            Тел. +7 (913) 650-49-33 <br />
                            Тел. +7 (900) 679-35-08
                        </div>
                        <div class="opisanie">
                            <b>Краткое описание компании</b><p></p>
                            <p>Производство: общестроительных работ, конструкций разного назначения и исполнения, цистерн,емкостей,септиков и прочих сосудов.</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

<!-- ################################## -->

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>