{% extends "base.html" %}

{% block content %}
<div class="contact">

<div>
<div class="company-header">
<h1 class="company-header-title">Компания СВАОР</h1>
</div>

<hr class="mb10">
<div id="company_about_inline_part_announce"><h3>
Краткое описание компании
</h3>
<p>Производство: общестроительных работ, конструкций разного назначения и исполнения, цистерн,емкостей,септиков и прочих сосудов.</p>
</div>
<hr class="mb10">
<div id="company_about_full_description"><h3>Полное описание компании</h3>
<div class="mb10"></div>
<table style="width: 500px">
	<caption>
		ЕМКОСТЬ БЕСКАРКАСНАЯ&nbsp;</caption>
	<thead>
		<tr>
			<th>V - м3</th>
			<th>
				<p>
					ТОЛЩИНА СТЕНКИ</p>
				<p>
					ОТ-мм</p>
			</th>
			<th>
				<p>	ЦЕНА</p>
				<p>	БЕЗ УЧЕТА СТОИМОСТИ ДОП. ОБОРУДОВАНИЯ</p>
			</th>
		</tr>
	</thead>
	
		<tbody><tr>
			<td>
				3</td>
			<td>
				3</td>
			<td>
				29145 &nbsp;руб.&nbsp;</td>
		</tr>
		<tr>
			<td>
				5</td>
			<td>
				3</td>
			<td>
				43712 &nbsp;руб.</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				4</td>
			<td>
				83932 &nbsp;руб.</td>
		</tr>
		<tr>
			<td>
				 15</td>
			<td>
				4</td>
			<td>
				107388 &nbsp;руб.</td>
		</tr>
	
</tbody></table>
<p>
	В данной таблице приведен пример расценок на нашу продукцию, сформированный из многолетнего опыта работы .&nbsp;</p>

</div>
<hr class="mb10">
<h3>Оплата и доставка:</h3>
Способы доставки:
<ul>
<li>
Доставка транспортной компанией
<br>

</li>
</ul>



<hr class="mb10">
<div id="company_about_inline_part_info"><h3 class="">
Общие сведения
</h3>
<ul>
<li>
Компания ООО СВАОР - Производитель
</li>
<li>
Компания ООО СВАОР основана в 2006 году.
</li>
<li>
В компании работает до 50 человек.
</li>
</ul>
</div>

</div>
	
</div>

{% endblock %}