{% extends "base.html" %}

{% block content%}
    <div class="catalog clearfix">
    <div class="tovar">
        <h3>{{tovar}}</h3>
        <img src="/media/{{tovar.img}}" alt="{{tovar}}">
        <div class="tovar-opis">
            <p><b>Описание:</b><br />{{ tovar.desk }}</p>
            <p><b>Цена:</b> от <b>{{tovar.cena}}</b> руб./{{tovar.ed}}</p>
            {%if tovar.min_raz %}
            <p><b>Мин. размер заказа:</b> <b>{{tovar.min_raz}}</b> {{tovar.ed}}</p>
            {% endif %}
            <p><b>Наличие на складе:</b> {{tovar.nalich}} </p>
            <p><b>Условия оплаты:</b> Возможен безналичный расчет</p>
            <p><b>Доставка:</b> {{tovar.dostavka}}</p>
            <a class="button-zak" href="/zakaz/{{tovar.slug}}">Заказать</a>
        </div>
    </div>
    </div>

{% endblock %}